.App {
  text-align: center;
  height: 100vh;
}

.container {
  margin-top: -100px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.Player {
  display: flex;
  align-items: center;
}

.MinorIcons {
  display: flex;
  justify-content: space-around;
}

.Tracce {
  margin-top: 200px;

  margin-bottom: 15%;
  height: fit-content;
}

.SingleSong {
  margin-bottom: 10px;
}

.audio {
  width: 500px;
}

.MusicPlayer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

  align-items: center;
}

.FileUploader {
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
}

.lkjDVC {
  padding-left: 100px !important;

  padding-bottom: 100px !important;

  padding-top: 100px !important;

  padding-right: 100px !important;
}

.wrapped {
  max-width: 604px;
}

@media (max-height: 900px) {
  .Player {
    display: flex;
    align-items: center;

    justify-content: space-around;
  }

  .Tracce {
    margin-top: 25px;
  }

  .MusicPlayer {
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-left: 20px;
    max-width: 350px;
  }

  .container {
    margin-top: 25px;
    height: 70%;
    display: flex;

    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .lkjDVC {
    padding-left: 20px !important;

    padding-bottom: 50px !important;

    padding-top: 50px !important;

    padding-right: 20px !important;
  }
}

@media (max-width: 480px) {
  .wrapped {
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .SongTitle {
    font-size: 30px;
    display: flex;
    margin-left: 15px;
    justify-content: center;
  }

  .Player {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
  }

  .Tracce {
    margin-top: 40%;
  }

  .MusicPlayer {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
  }

  .container {
    align-items: center;
    margin-top: 25px;
    height: 70%;
    display: flex;

    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .lkjDVC {
    padding-left: 20px !important;

    padding-bottom: 50px !important;

    padding-top: 50px !important;

    padding-right: 20px !important;
  }
}
