:root {
  --BaseTheme: rgba(45, 99, 247, 0.562);
  --HighTheme: rgb(40, 120, 241);
}

.App {
  text-align: center;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.Player {
  display: flex;
  align-items: center;
  padding-top: 40px;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: white;
  
  width: 100%;

  align-items: center;
  justify-content: space-around;
}

.SongTitle {
  font-size: 30px;
}

.MinorIcons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Tracce {
  margin-top: 200px;
  margin-bottom: 15%;
  height: fit-content;
}



.SingleSong {
  margin-bottom: 10px;
}

.audio {
  width: 500px;
}

.MusicPlayer {
  display: flex;
  margin-bottom: 10px;
  margin-top: 15px;
  align-items: center;
}

.FileUploader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.FileUploader>label {
  padding-left: 100px !important;

  padding-bottom: 100px !important;

  padding-top: 100px !important;

  padding-right: 100px !important;
}

.wrapped {
  max-width: 604px;
}

@media (max-height: 900px) {
  .Player {
    display: flex;
    align-items: center;

    justify-content: space-around;
  }

  .Tracce {
    margin-top: 25px;
  }

  .MusicPlayer {
    display: flex;
    padding-top: 10px;
    max-width: 350px;
  }

  .container {
    margin-top: 25px;
    height: 70%;
    display: flex;

    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .FileUploader>label {
    padding-left: 20px !important;

    padding-bottom: 50px !important;

    padding-top: 50px !important;

    padding-right: 20px !important;
  }
}

@media (max-width: 480px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapped {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .SongTitle {
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }

  .Player {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .Tracce {
    margin-top: 40%;
  }

  .MusicPlayer {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .container {
    align-items: center;
    margin-top: 25px;
    height: 70%;
    display: flex;

    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .FileUploader>label {
    padding-left: 20px !important;

    padding-bottom: 50px !important;

    padding-top: 50px !important;

    padding-right: 20px !important;
  }
}

.Bottom>div>div>button {
  color: var(--BaseTheme);
}

.MusicPlayer>button  {
  color: var(--HighTheme) !important;
}

.iconButtonSelected {
  color: var(--HighTheme) !important;
}

.FileUploader>label {
  border-color: var(--HighTheme) !important;
}

.FileUploader>label > svg {
  display: none;
}

.SingleSong>button{
  position: unset !important;
  color: var(--HighTheme) !important;
}

.SearchBar{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.SearchBar>div>div>fieldset {
  border-color: var(--BaseTheme) !important;
}


.SearchBar>div>label {
  color: var(--BaseTheme) !important;
}

.SearchBar>div>div>div>button {
  color: var(--HighTheme) !important;
}
